<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title ">Unit Standardization</h4>
                    </div>
                    <div class="card-body">
                        <form novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-invalid">
                            <div class="form-group">
                                <label for="firstName">Unit Adress : </label>
                                <input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="Unitaire" type="text" ng-reflect-klass="form-control" ng-reflect-name="Unitaire" />
                                <button mat-raised-button (click)="unitStand()" class="btn pull-right">Standardize</button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>