<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Menu</h4>
                    </div>
                    <div class="card-body">
                        <br />

                        <div class="float-child card">
                            <div class="card-header">
                                <h1>Data Standardization</h1>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">What is Data Standardization ?</h4>
                                <p class="card-category">

                                </p>

                                <a href="#/standardisation" class="btn" mat-raised-button>
                    Unit Standardization
                  </a>
                                <a href="#/table-list" class="btn" mat-raised-button>
                    File Standardization
                  </a>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                        <!-- For data verification-->

                        <div class="float-child card">
                            <div class="card-header">
                                <h1>Data verification</h1>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">What is Data verification ?</h4>
                                <p class="card-category">

                                </p>

                                <a href="#/unitverif" class="btn" mat-raised-button>
                    Unit Verification
                  </a>
                                <a href="#/fileverif" class="btn" mat-raised-button>
                    File Verification
                  </a>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>