<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">File Adress Standardization</h4>
                    </div>
                    <div class="card-body">
                        <form novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-invalid">
                            <div>
                                <label for="firstName">File :</label>
                                <input type="file" #fileInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)" accept=".csv" />
                                <button mat-raised-button (click)="createFile()" class="btn pull-right">
                  Standardize
                </button>
                            </div>
                        </form>
                        <br />

                        <div class="table-responsive" [hidden]="dataSource.data.length === 0">
                            <!-- Visualization -->
                            <mat-label>Visualization :</mat-label>
                            <section class="example-section">
                                <mat-checkbox [(ngModel)]="HiddenSN" [checked]="step.checked">
                                    SOCIETY NAME
                                </mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenIN">
                                    INBUILDING
                                </mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenEXT">EXTBUILDING</mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenPOI">
                                    POI LOGISTIC
                                </mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenZONE">
                                    ZONE
                                </mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenHOUSE">HOUSE NUM</mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenROADNAME">
                                    ROADNAME
                                </mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenPOBOX">
                                    POBOX
                                </mat-checkbox>

                                <mat-checkbox [(ngModel)]="HiddenCode">ZIPCODE</mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenCity">CITY</mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenCountry">
                                    COUNTRY
                                </mat-checkbox>
                            </section>
                            <!-- Filtrage -->
                            <mat-label>Filter By :</mat-label>
                            <section class="example-section">
                                <mat-checkbox [(ngModel)]="HiddenSN">
                                    SOCIETY NAME
                                </mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenCode">ZIPCODE</mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenCity">CITY</mat-checkbox>
                                <mat-checkbox [(ngModel)]="HiddenCountry">
                                    COUNTRY
                                </mat-checkbox>
                            </section>

                            <mat-form-field name="SOCIETY_NAME" ngDefaultControl [(ngModel)]="any" *ngIf="HiddenSN" class="filter" floatLabel="never">
                                <mat-label>Search the society name</mat-label>
                                <input matInput [formControl]="SOCIETY_NAME" />
                            </mat-form-field>

                            <mat-form-field name="ZIPCODE" ngDefaultControl [(ngModel)]="any" *ngIf="HiddenCode" class="filter" floatLabel="never">
                                <mat-label>Search the zip code</mat-label>
                                <input matInput [formControl]="ZIPCODE" />
                            </mat-form-field>

                            <mat-form-field name="CITY" ngDefaultControl [(ngModel)]="any" *ngIf="HiddenCity" class="filter" floatLabel="never">
                                <mat-label>Search the city</mat-label>
                                <input matInput [formControl]="CITY" />
                            </mat-form-field>

                            <mat-form-field name="COUNTRY" ngDefaultControl [(ngModel)]="any" *ngIf="HiddenCountry" class="filter" floatLabel="never">
                                <mat-label>Search the country</mat-label>
                                <input matInput [formControl]="COUNTRY" />
                            </mat-form-field>
                            <br />
                            <!--Table-->
                            <table mat-table class="mat-elevation-z8 table-hover table" [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="SOCIETY_NAME">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        SOCIETY NAME
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.SOCIETY_NAME }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="INBUIDING">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        INBUILDING
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.INBUILDING }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="EXTBUILDING">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        EXTBUILDING
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.EXTBUILDING }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="POI_LOGISTIC">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        POI LOGISTIC
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.POI_LOGISTIC }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ZONE">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        ZONE
                                    </th>
                                    <td mat-cell *matCellDef="let element">{{ element.ZONE }}</td>
                                </ng-container>

                                <ng-container matColumnDef="HOUSENUM">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        HOUSE NUM
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.HOUSENUM }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ROADNAME">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        ROADNAME
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.ROADNAME }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="POBOX">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        POBOX
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.POBOX }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="ZIPCODE">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        ZIPCODE
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.ZIPCODE }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="CITY">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        CITY
                                    </th>
                                    <td mat-cell *matCellDef="let element">{{ element.CITY }}</td>
                                </ng-container>

                                <ng-container matColumnDef="COUNTRY">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        COUNTRY
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.COUNTRY }}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            <button mat-raised-button (click)="unitStand()" class="btn pull-right">
                Export
              </button>
                            <button mat-raised-button (click)="unitStand()" class="btn pull-right">
                Statistics
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>