<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<!-- Background image -->
<div class="p-5 text-center bg-image" style="
      background-image: url('/assets/img/export logo.png');
      background-size: cover;
      margin-top: 70px;
      height: 600px;
    ">
    <div class="text-block">
        <h1 style="font-size: 56px;">Transport & Logistic</h1>

        <h4 style="font-size: 20px;">Standardization & Verification Transport Data</h4>
    </div>
</div>