<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Adress List</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        SOCIETY NAME
                                    </th>
                                    <th>
                                        INBUIDING
                                    </th>
                                    <th>
                                        EXTBUILDING
                                    </th>
                                    <th>
                                        POI LOGISTIC
                                    </th>
                                    <th>
                                        ZONE
                                    </th>
                                    <th>
                                        HOUSE NUM
                                    </th>
                                    <th>
                                        ROADNUM
                                    </th>
                                    <th>
                                        POBOX
                                    </th>
                                    <th>
                                        ZIPCODE
                                    </th>
                                    <th>
                                        CITY
                                    </th>
                                    <th>
                                        COUNTRY
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            SDV SAINT ETIENNE
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            ZONE INDUSTRIELLE DE VERPILLEUX
                                        </td>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            RUE NEKER
                                        </td>
                                        <td>
                                            BP 673
                                        </td>
                                        <td>
                                            42000
                                        </td>
                                        <td>
                                            SAINT ETIENNE
                                        </td>
                                        <td>
                                            FRANCE
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            FC LOGISTIC
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            BATIMENT ROSTAND
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            22
                                        </td>
                                        <td>
                                            AVENUE DES NATIONS
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            VILLEPINTE
                                        </td>
                                        <td>
                                            FRANCE
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>