<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Register</h4>
        <div class="card-body">
            <form novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-invalid">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="firstName" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="firstName" />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="lastName" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="lastName" />
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="username" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="password" type="password" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="password" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">
              Register
            </button>
                    <a class="btn btn-link" routerlink="../login" ng-reflect-router-link="../login" href="/login">
              Cancel
            </a>
                </div>
            </form>
        </div>
    </div>
</div>